$gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }

.you {
  padding: 30px;
}

.coach {
  padding: 30px;
}

.h1 {
  font-size: 30px;
}

.btn {
   background-color: blue;
   color: white;
   padding: 30px;
   margin: 30px;
   text-decoration: none;
   width: 100px;
   border-radius: 10px;
   &:hover {
     background-color: white;
     color: black;
   }
 }
